# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Build files and folders
/target/
.mvn/

# IDE files
.idea/
*.iml
.project
.classpath
.settings/

# Sensitive properties - VERY IMPORTANT
# Add any file that contains secrets.
# While your repo is private, this is best practice.
application.properties

# Log and data files
logs/
data/
